@import './fonts.scss';

body {
  font-family: $FONT_SANS;
  margin: 0;
  background-color: lighten(tan, 1.4);
  position: relative;

  &>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 1rem;
    border-bottom: 1px solid black;

    &>.logo {
      font-size: 2rem;
      font-family: $FONT_DISPLAY;

      &>a {
        text-decoration: none;
        color: black;
      }
    }

    &>.nav-options {
      font-family: $FONT_DISPLAY;

      &>ul {
        display: flex;
        list-style: none;

        &>li {
          margin: 0 1rem;
        }
      }
    }
  }

  &>section.content-wrapper {
    margin: 1rem;
    margin-bottom: 0;
    padding-bottom: 5rem;
  }

  &>footer {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: #2b303b;
    color: #b48ead;
  }
}