.article-wrapper {
  margin: 0 25%;
}

code:not(pre > code) {
  padding: 0.125rem 0.25rem;
  background-color: #2b303b;
  border-radius: 4px;
  color: #b48ead;
}

pre {
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.4);
  font-size: 1rem;
}