{% extends "base.html" %}

{% block content %}
<article>
  <div class="two-column-wrapper">
    <div class="left-column">
      Hey there! I'm Trent.

      <p>
        I live in <a href="https://wikitravel.org/en/Albuquerque">Albuquerque, New Mexico</a>.
      </p>

      <p>
        I work at
        <a href="https://skolem.tech" target="_blank" rel="noopener noreferrer nofollow">Skolem Technologies</a> as a
        Senior Software Engineer.
      </p>

      <p>
        I enjoy safe, readable code, with lots of tests.
      </p>

      <p>
        This website lets you read
        <a href="/blog/">things that I have written</a>.
      </p>
    </div>

    <div class="right-column">
      <iframe class="shadertoy-mandelbulb-iframe" width="640" height="360" frameborder="0"
        src="https://www.shadertoy.com/embed/XdlBDH?gui=true&t=10&paused=true&muted=false" allowfullscreen></iframe>
    </div>
  </div>
</article>
{% endblock content %}
