{% extends "base.html" %}

{% block content %}
<article>
  <div class="two-column-wrapper">
    <div class="left-column">
      Hey there! I'm Trent.

      <p>
        I live in <a href="https://wikitravel.org/en/Albuquerque">Albuquerque, New Mexico</a>.
      </p>

      <p>
        I work at
        <a href="https://fin.com" target="_blank" rel="noopener noreferrer nofollow">Fin</a> as an <a
          href="https://medium.com/building-carta/engineering-levels-at-carta-d33db2a55a20#L5:~:text=Senior%20software%20engineer%20II%20(L5)"
          target="_blank" rel="noopener noreferrer nofollow">L5</a>
        Product Engineer, focusing on <a href="https://developer.chrome.com/docs/extensions/" target="_blank"
          rel="noopener noreferrer nofollow">Chrome extensions</a>.
      </p>

      <p>
        This website lets you read
        <a href="/blog/">things that I have written</a>.
      </p>
    </div>

    <div class="right-column">
      <iframe class="shadertoy-mandelbulb-iframe" width="640" height="360" frameborder="0"
        src="https://www.shadertoy.com/embed/XdlBDH?gui=true&t=10&paused=true&muted=false" allowfullscreen></iframe>
    </div>
  </div>
</article>
{% endblock content %}